@import "reset.css";
@import "overlay.css";
@import "header.css";
@import "submenu.css";
@import "page.css";


/********* Social media **********/
.social-media__list {
  display: flex;
  margin-left: 5rem;
}

.social-media__list li:not(:last-child) {
  margin-right: 1.5rem;
}

.social-media__list li a > i {
  font-size: 2rem;
  color: var(--color-white);
  text-shadow: 0 0 1px var(--color-background), 0 0 1px var(--color-background), 0 0 1px var(--color-background), 0 0 1px var(--color-background), 0 0 1px var(--color-background), 0 0 1px var(--color-background), 0 0 1px var(--color-background), 0 0 1px var(--color-background), 0 0 1px var(--color-background), 0 0 1px var(--color-background), 0 0 1px var(--color-background), 0 0 1px var(--color-background), 0 0 1px var(--color-background), 0 0 1px var(--color-background), 0 0 1px var(--color-background), 0 0 1px var(--color-background), 0 0 1px var(--color-background), 0 0 1px var(--color-background), 0 0 1px var(--color-background), 0 0 1px var(--color-background);
}

.social-media__list li a > i:hover{
  color: blueviolet;
}