@import "reset.css";
@import "header.css";

/********* Social media **********/
.social-media__list {
  display: flex;
}

.social-media__list li:not(:last-child) {
  margin-right: 1.5rem;
}

.social-media__list li a > i {
  font-size: 2rem;
  color: var(--color-white);
}
