.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
}

.header__container {
  position: relative;
  height: 100%;
}

.header__logo--desktop, .header__navigation {
  display: none;
}

.header__navigation.active {
  display: inherit;
}

/***********************
***** Navigation *******
*****************/
.menu ul {
  display: flex;
}

.menu ul li a {
  color: var(--color-white);
  margin-right: 1rem;
  text-decoration: none;
}

/*************************
***** Social media *******
*****************/
.social-media--desktop {
  display: none;
}

.social-media__list {
  display: flex;
}

.social-media__list li:not(:last-child) {
  margin-right: 1rem;
}


/*************************
***** RESPONSIVE *******
*****************/
@media (min-width: 992px) {
  .header__toggle {
    display: none;
  }
  .header__navigation {
    display: flex;
    align-items: center;
  }

  
  .header__logo--desktop{
    display: inherit;
  }
  .header__logo--mobile {
    display: none;
  }

  .social-media--desktop {
    display: inherit;
  }
  .social-media--mobile {
    display: none;
  }
}
